<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="text-center">Voice of Customer Application</title>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Enter your text</h2>
    </div>
    <div class="container justify-content-center">
      <form action="/predict" method="POST" class="form-inline justify-content-center">
        <textarea name = "tweet"> </textarea>
        <button type="reset" class="btn btn-primary mb-2">Clear</button>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
    <hr/>
    <div class = "container">
         <p> Text entered: {{tweet}} </p>
         <hr/>
         <p> Sentimental Prediction: {{preds}} </p>
    </div>
  </body>
</html>