<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="text-center">VOC App</title>

    <link href='static/css/style.css' rel='stylesheet'>
    
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <nav>
    <ul>
      <li><a href="#sentiment-analysis">Sentiments and Topics</a></li>
      <li><a href="#historic-trends">Historic and Future Trends</a></li>
    </ul>
  </nav>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Voice of Customer Application</h1>
    </div>
    <div class="container" id="sentiment-analysis">
      <div style="display: flex; flex-direction: column;">
        <h2 class="text-centre">Predicting customer sentiment and topics</h2>
        <h2 class="text-centre">Enter review or submit your csv file</h2>
      </div>
    </div>
    <div class="container justify-content-center">
      <div style="display: flex; flex-direction: column;">
        <form action="/predict" method="POST" class="form-inline justify-content-center">
          <textarea name = "review"> </textarea>
          <div class="btn-group">
            <button type="submit" class="btn btn-primary mb-2">Submit your input text</button>
            <button type="reset" class="btn btn-primary mb-2">Clear</button>
          </div>
        </form>
        <div class="btn-group">
          <form action="/upload" method="POST"  enctype="multipart/form-data">
            <input type="file" name="file" id="file" class="inputfile">
            <label for="file">Upload csv file</label>
            <button type="submit" class="btn btn-primary mb-2">Submit csv file</button>
            <div id="error_msg">
              <script src="{{ url_for('static', filename='js/script.js') }}"></script>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    
    <div class = "row">
    <table class="table">
      <thead>
        <tr>
          <th>Text</th>
          <th>Predicted Customer Sentiment</th>
          <th>Predicted Topic</th>
        </tr>
      </thead>
      <tbody>
        {% if tweets|length > 1 and preds|length > 1  %}
          {% for i in range(tweets|length) %}
            <tr>
              <td>{{ tweets[i] }}</td>
              <td>{{ preds[i] }}</td>
              <!--Place holder for topic-->
              <td>{{ topics[i] }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>{{ tweets }}</td>
            <td>{{ preds }}</td>
            <!--Place holder for topic-->
            <td>{{ topics }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    </div>

    <div class="container" id="historic-trends">
      <div style="display: flex; flex-direction: column;">
        <h2 class="text-centre">Historic and Future Trends of Sentimental and Key Topics</h2>
      </div>
    </div>

  </body>
</html>